{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Employee Learning{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    
<div id="header">
{% if request.user.is_authenticated %}
<ul class="menu">
<li {% if section == "dashboard" %}class="selected"{% endif %}>
<a href="{% url "account:dashboard" %}">My dashboard</a>
</li>
<li {% if section == "mypolls" %}class="selected"{% endif %}>
    <a href="{% url 'polls:index' %}">My polls</a>
</li>
<li {% if section == "сourses" %}class="selected"{% endif %}>
    <a href="{% url "employee_learning:course_list" %}">Courses</a>
</li>
<li {% if section == "images" %}class="selected"{% endif %}>
<a href="#">Images</a>
</li>
<li {% if section == "create" %}class="selected"{% endif %}>
<a href="{% url "employee_learning:course_create" %}">Create page</a>
</li>
</ul>
{% endif %}
<span class="user">
{% if request.user.is_authenticated %}
Hello {{ request.user.first_name|default:request.user.username }},
<form action="{% url "account:logout" %}" method="post"></a>
    <button type="submit">Logout</button>
    {% csrf_token %}
</form>
{% else %}
<a href="{% url "account:login" %}">Log-in</a>
{% endif %}
</span>
</div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
<a href="{% url 'employee_learning:course_list'%}">List</a>
<a href="{% url 'employee_learning:course_create'%}">Create</a>
{% block content %}
{% endblock %}
</div>
</body>
{% block footer %}
<div class="container">
<hr>
    <div id="dno"  style="background:#12c064">
                <img style="padding: 10px 5px;" src="/media/logo/logopolls.png" width="50" alt="Polls">
    <p style=" padding: 5px; ">Design & Development</p>
    {% comment %} <h5 style="text-align: center;">Disign & Development</h5> {% endcomment %}
    </div>
</div>

{% endblock %}
<h6>2023 Employee Learning</h6>
</html>
