
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="base.css" rel="stylesheet">
</head>
<body>
<div id="header">
{% if request.user.is_authenticated %}
<ul class="menu">
    <li>
        <img src="/media/logo/logopolls.png" weight="100" height="100" alt="Polls">
    </li>
<li {% if section == "dashboard" %}class="selected"{% endif %}>
<a href="{% url "account:dashboard" %}">My dashboard</a>
</li>
<li {% if section == "mypolls" %}class="selected"{% endif %}>
    <a href="{% url 'polls:index' %}">My polls</a>
</li>
<li {% if section == "сourses" %}class="selected"{% endif %}>
    <a href="http://127.0.0.1:8000/employee-learning/course-list/">Courses</a>
</li>
<li {% if section == "images" %}class="selected"{% endif %}>
<a href="#">Images</a>
</li>
<li {% if section == "detail" %}class="selected"{% endif %}>
<a href="#">Details</a>
</li>

</ul>
{% endif %}
<span class="user">
{% if request.user.is_authenticated %}
Hello {{ request.user.first_name|default:request.user.username }},
<form action="{% url "account:logout" %}" method="post"></a>
    <button type="submit">Logout</button>
    {% csrf_token %}
</form>
{% else %}
<a href="{% url "account:login" %}">Log-in</a>
{% endif %}
</span>
</div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
{% block footer %}{% endblock %}
<div class="container">
<footer class="footer" type="content">
<hr>
    <div  style="columns: 2;">
                <img src="logopolls.png" width="50" alt="Polls">
    <p>Design & Development</p>
    <h5 style="text-align: center;">Disign & Development</h5>
    </div>
    

</footer>
</div>
<hr>

</html>
