<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Главная страница</title>{% endblock %}
</head>
<body>
    <nav class="toggle-nav-sidebar">навигация
        <ul>
            <li>Home</li>
            <li>about</li>
            <li>my polls</li>

        </ul>
    </nav>
    <h1>Заголовок сайта</h1>
    <div id="content" name="content">
        {% block content %}
        {% endblock %}
        </div>

        {% block footer %}
        <footer class="footer">
            <div>
                конта
            </div>
        </footer>


        {% endblock %}
</body>
</html>

