{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<p>Welcome to your dashboard. You can <a href="{% url 'account:edit' %}">edit your profile</a>
    or <a href="{% url 'account:password_change' %}">change your password</a>.</p>
<p>Добавить мои список опросов пользователя сюда</p>
<ul>
    <li>
        my survey 1
    </li>
    <li>
        my survey 2
    </li>
    <li>
        Добавить функционал отображения списка опросов: my survey 3
    </li>
</ul>
{% endblock %}
